<div class="row loginRow">
    <div class="col-xs-12 col-md-6 col-md-offset-3 loginBox">
        <h1>Login / Sign Up</h1>
        <hr>
        <div *ngIf="error" class="alert alert-danger">
            <h4>An error occured!</h4>
            <p style="margin-bottom: 15px;">{{ error }}</p>
            <button (click)="onCloseAlert()" class="btn btn-danger btn-sm">close</button>
        </div>
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        <form *ngIf="!isLoading" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" #email="ngModel" required email>
                <div *ngIf="!email.valid && email.touched" class="form-text text-danger">Email is required.</div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" #password="ngModel" required minlength="6">
                <div *ngIf="!password.valid && password.touched" class="form-text text-danger">Password is required.</div>
            </div>
            <div>
                <button [ngClass]="{'btn-success' : !isLoginMode}" type="submit" class="btn btn-primary me-3" [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button>

                <span class="select-none">
                    {{ isLoginMode ? 'Do you need an account?' : 'Already have an account?'}}
                    <a  (click)="onSwitchMode()" class="auth-btn cursor-pointer nodecor text-primary">{{ isLoginMode ? 'Sign Up' : 'Login' }}</a>
                </span>
            </div>
            <div>
            </div>
        </form>
    </div>
</div>